button#btnNavbarToggle.btn.btn-outline-dark <<
nav.sidenav
    .logo 
        a(href='/') Csoportos Tételkezelő Rendszer
    .version v#{VERSION}
    ul.nav-links
        li.nav-item
            a.nav-link(href='/main') Főoldal
        li.nav-item
            a.nav-link(href='/teszt') Osztályok
    .profile
        img.picture.rounded-circle.mx-auto(src='images/pic' + pictureID + '.png', alt='profilkép')
        ul.user-info
            li #{name} 
                span (#{className})
            li Pontok: 
                span #{points}
            li
                a(href='/account') Adataim | 
                a(href='/user/logout') Kijelentkezés