// Modal
#logoutModal.fade.modal()
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title Kijelentkezés
        button.btn-close.toggleLogout(type='button', aria-label='Bezárás')
      .modal-body Biztos ki szeretnél jelentkezni?
      .modal-footer
        button.btn.btn-secondary.toggleLogout(type='button' data-bs-dismiss='modal') Nem
        a.btn.btn-primary(type='button' href="/user/logout") Igen

nav.sidenav
    .logo 
        a(href='/') Csoportos Tételkezelő Rendszer
    .version v#{VERSION}
    ul.nav-links
        li.nav-item
            a.nav-link(href='/main') Főoldal
        li.nav-item
            a.nav-link(href='/classes') Tantárgyak
        li.nav-item
            a.nav-link Teszt
        li.nav-item
            a.nav-link Teszt
        li.nav-item
            a.nav-link Teszt
        li.nav-item
            a.nav-link Teszt
    .profile
        img.picture.rounded-circle.mx-auto(src='images/pic' + user.pictureID + '.png', alt='profilkép')
        ul.user-info
            li #{user.username} 
                span (#{className})
            li Pontok: 
                span #{user.points}
            li
                a(href='/myaccount') Adataim | 
                a.toggleLogout Kijelentkezés
button#btnNavbarToggle.btn.btn-link >