extends ../../mainLayout.pug

block pageHeader
    .page-title-breadcrumb Új csoport létrehozása
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/groups') Csoportok
            li.breadcrumb-item.active(aria-current='page') Létrehozás

block content
    .row
        form.p-2(method='POST', action='/api/group/create')
            label.form-label(for='exampleFormControlInput1') Név
            .input-group.mb-3
                input#exampleFormControlInput1.form-control(type='text' name='name')
            .form-check.mb-3
                input#flexCheckDefault.form-check-input(type='checkbox' name='isOpen' checked)
                label.form-check-label(for='flexCheckDefault')
                    | Nyitott
            button.btn.btn-primary.btn-lg Létrehozás

