extends ../../mainLayout.pug

block content
    .page-title-breadcrumb Új csoport létrehozása
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/groups') Csoportok
            li.breadcrumb-item.active(aria-current='page') Létrehozás
    .row
        p asd
        p asd