extends ../../mainLayout.pug

block pageHeader 
    .page-title Csoportok

block content
    .row
        each val in groupList
            .col-md-3.mb-3
                .card.shadow
                    .card-body
                        b= val.name
                        br
                        if val.isOpen 
                            b.text-primary Nyitott
                        else
                            b.text-danger Zárt
                        .py-2
                            a.btn.btn-link.stretched-link(href=`/groups?id=${val.id}`) Belépés
        if isAdmin
            .col-md-3.mb-3
                .card.shadow
                    .card-body
                        a.h5.text-uppercase.mb-0(href='/groups/create') Új csoport lérehozása