extends ../../mainLayout.pug

block content
    .page-title-breadcrumb Csoport: #{group.name}
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/groups') Csoportok
            li.breadcrumb-item.active(aria-current='page') #{group.name}
    .row
        p id: 
            #{group.name}