<!DOCTYPE html>
<html lang="hu">

    <%- include('includes/head'); -%>

        <body>
            <div class="container text-center mt-5">
                <div class="container p-4">
                    <h1 class="display-1 text-primary">404</h1>
                    <h3>Hiba történt!</h3>
                </div>
                <a href="/" class="btn btn-primary btn-lg">Főoldal</a>
            </div>
        </body>

</html>