doctype html
html(lang='hu')
    include includes/head.pug
    body
        .container.text-center.mt-5
            .container.p-4
                h1.display-1.text-primary 404
                h2 Az oldal nem található!
                h5.mt-5 Úgy tűnik, hogy megtaláltad a hibát a mátrixban...
                a(href='/') ← Vissza az oldalra