doctype html
html(lang='hu')
    include includes/head.pug
    body.bg-light.text-black
        include includes/sidebar.pug
        .content
            .container
                .page-title Adataim
                .row
                    .col-xl-4.mb-3
                        .card
                            .card-header Profilkép
                            .card-body
                                p asd
                    .col-xl-8.mb-3
                        .card
                            .card-header Fiókbeállítás
                            .card-body
                                p asd
                include includes/footer.pug