doctype html
html(lang='hu')
    extends includes/head.pug
    body.bg-light.text-black
        include includes/sidebar.pug
        .content
            .container
                .page-title Adataim
                .row
                    .col-xl-4.mb-3
                        .card
                            .card-header Profilkép
                            .card-body
                                if pictureMessage.length
                                    .alert.alert-primary(role='alert') #{pictureMessage}
                                img.rounded(src='images/pic' + user.pictureID + '.png', alt='profilkép')
                                form(action='/user/update/picture' method='POST' enctype='multipart/form-data')
                                    label.form-label(for='formFile') JPG vagy PNG, kisebb mint 5 MB
                                    input.form-control(type="file" id='formFile' name='picture')
                                    button.btn.btn-primary(type='submit') Kép feltöltése
                    .col-xl-8.mb-3
                        .card
                            .card-header Fiókbeállítás
                            .card-body
                                if detailsMessage.length
                                    .alert.alert-primary(role='alert') #{detailsMessage}
                                form(action='/user/update/details' method='POST')
                                    .form-floating.mb-3
                                        input.form-control(type='name' value=user.name name='fullname')
                                        label Név
                                    button.btn.btn-primary(type='submit') Adatok mentése
                                p Regisztráltál: #{user.registered}
                include ./includes/footer.pug