doctype html
html(lang='hu')
    include includes/head.pug
    body.login-background
        .shadow.card.login-box
            .p-4
                h3.fw-light Csoportos tételkezelő rendszer
                h5.fw-bold.text-primary.text-uppercase Bejelentkezés
                hr
                if message.length
                    .alert.alert-primary.message(role='alert') #{message}
                form(action='/api/login' method='POST')
                    .form-floating.mt-2
                        input.form-control(name='username' type='username' autocomplete='on' required='' placeholder=' ')
                        label Felhasználónév
                    .form-floating.mt-2
                        input.form-control(name='password' type='password' autocomplete='on' required='' placeholder=' ')
                        label Jelszó
                    .form-floating.mt-2
                        select.form-select(name='classID')
                            each val in classList
                                option(value=val.id)= val.name
                        label Válassz osztályt
                    .form-group.mt-4
                        button.btn.btn-outline-primary.w-100(type='submit') Bejelentkezés
                    .form-group.mt-4
                        a.btn.btn-link.w-100(href='/register') Regisztráció