doctype html
html(lang='hu')
    include includes/head.pug
    body.bg-light.text-black
        include includes/sidebar.pug
        .content
            .container
                .page-title Főoldal
                .row
                    .col-md-3.mb-3
                        .card.border-0.border-end.border-primary.border-3.shadow.py-2
                            .card-body
                                .row.no-gutters.align-items-center
                                    .col.mr-2
                                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Beküldött anyagok
                                        .h5.mb-0.font-weight-bold.text-gray-800 0
                    .col-md-3.mb-3
                        .card.border-0.border-end.border-primary.border-3.shadow.py-2
                            .card-body
                                .row.no-gutters.align-items-center
                                    .col.mr-2
                                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Felhasznált anyagok
                                        .h5.mb-0.font-weight-bold.text-gray-800 2
                    .col-md-3.mb-3
                        .card.border-0.border-end.border-primary.border-3.shadow.py-2
                            .card-body
                                .row.no-gutters.align-items-center
                                    .col.mr-2
                                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Osztálytársak száma
                                        .h5.mb-0.font-weight-bold.text-gray-800 25
                    .col-md-3.mb-3
                        .card.border-0.border-end.border-primary.border-3.shadow.py-2
                            .card-body
                                .row.no-gutters.align-items-center
                                    .col.mr-2
                                        .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Tanárok száma
                                        .h5.mb-0.font-weight-bold.text-gray-800 10
                include includes/footer.pug