doctype html
html(lang='hu')
    include includes/head.pug
    body.bg-light.text-black
        include includes/sidebar.pug
        .content
            .container
                .page-title Főoldal
                p asd
            include includes/footer.pug