extends ../mainLayout.pug

block content
    .page-title Főoldal
    .alert.alert-danger Nincs beállítva a neved! Kérd meg a csoport egyik adminisztrátorát, hogy tegye meg!
    each val in classMessages
        .alert.alert-secondary.moderatorMessage
            i.bi-info-lg
            | #{val.text}
    .row
        .col-md-3.mb-3
            .card.border-0.border-end.border-primary.border-3.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Beküldött anyagok
                            .h5.mb-0.font-weight-bold.text-gray-800 0
        .col-md-3.mb-3
            .card.border-0.border-end.border-primary.border-3.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Felhasznált anyagok
                            .h5.mb-0.font-weight-bold.text-gray-800 0
        .col-md-3.mb-3
            .card.border-0.border-end.border-primary.border-3.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Osztálylétszám
                            .h5.mb-0.font-weight-bold.text-gray-800 #{classMembers}
        .col-md-3.mb-3
            .card.border-0.border-end.border-primary.border-3.shadow.py-2
                .card-body
                    .row.no-gutters.align-items-center
                        .col.mr-2
                            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Pontjaid száma
                            .h5.mb-0.font-weight-bold.text-gray-800 #{user.points}