:root {
	--sidebar-width: 225px;
}

body {
	background-color: #f8f9fa;
}

/* Login/Register */
.login-box {
	max-width: 1000px;
	margin: 60px auto 0;
}

.login-box .bg-login-image {
	background: url('../images/login.jpg');
	background-position: center;
    background-size: cover;
}

.login-box .bg-register-image {
	background: url('../images/register.jpg');
	background-position: center;
    background-size: cover;
}

/* Sidenav */
.sidenav {
	position: fixed;
	top: 0;
	left: 0;
	transition: left 0.5s;
	height: 100%;
	width: var(--sidebar-width);
	background-color: white;
	border-right: 1px solid rgb(192, 192, 192);
	z-index: 2;
}

.showed {
	left: 0 !important;
	transition: left 0.5s;
}

#btnNavbarToggle {
	bottom: 0;
	margin: 10px;
	position: relative;
	display: none;
	z-index: 3;
}

.sidenav > .logo {
	text-align: center;
	padding: 5px;
	font-size: 26px;
	font-weight: 600;
	color: #0d6efd;
	line-height: 1.2;
}

.sidenav > .logo a {
	text-decoration: none;
}

.sidenav > .version {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: black;
	padding: 5px;
	margin-top: 10px;
}

.sidenav > .nav-links {
	list-style-type: none;
	padding: 0;
	background-color: #f0f0f0;
}

.sidenav > .nav-links li {
	text-align: center;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 0.01s;
}

.sidenav > .nav-links li.active {
	color: white;
	background-color: #0d6efd !important;
	cursor: default;
	border-left: 5px solid rgb(141, 141, 141);
	padding-left: 10px;
}

.sidenav > .nav-links li:hover {
	color: white;
	background-color: #3786fc;
}

.sidenav > .nav-links li a {
	text-decoration: none;
	color: inherit;
}

.sidenav > .profile {
	background-color: #f0f0f0;
	bottom: 0;
	width: 100%;
	height: 190px;
	position: absolute;
	padding: 10px;
	font-weight: 300;
	font-size: 1.1rem;
}

.sidenav > .profile > .picture {
	display: block;
	height: 90px;
	border: 2px solid white;
}

.sidenav > .profile > .user-info {
	list-style: none;
	padding: 0;
	margin-top: 5px;
}

.sidenav > .profile > .user-info .toggleLogout {
	color: #0d6efd;
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

span {
	color: #0d6efd;
}

/* Content */
.content {
	margin-left: var(--sidebar-width);
	margin-top: 1.5rem;
	z-index: 0;
}

.content > .container > .page-title {
	text-align: left;
	font-size: 2rem;
	color: #383838;
	border-bottom: 1px solid rgba(0,0,0, .25);
	margin-bottom: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
	#btnNavbarToggle {
		display: block;
	}

	.sidenav {
		left: calc(0px - var(--sidebar-width));
		transition: left 0.5s;
	}

	.content {
		margin-left: 0;
	}

	.login-box {
		margin: 60px 120px 0;
	}
}